* {
margin: 0;padding: 0;box-sizing: border-box;
}

body {
min-height: 100vh;padding-top: 100px;
}

/*menu da página index*/

.menu {
display: flex;justify-content: space-around;list-style: none;background: rgba(255,255,255,0.7);backdrop-filter: blur(2px);width: 100%;position: fixed;top: 0;
padding: 10px;border-bottom: 2px solid #000;
}
.menu li a {
display: block;padding: 20px;text-decoration: none;font-size: 25px;font-family: Anonymous Pro;border-radius: 35px;font-weight: bold;color: #4f72ff;transition: .8s;
}
.menu li a:hover {
background: #4f72ff;color: #fff;
}

/* seção de entrada */

.intro {
display: flex;flex-direction: column;align-items: center;gap: 50px;width: 100%;
}
.intro-container {
display: flex;justify-content: space-around;width: 100%;
}
.intro-titleSub h1 {
font-size: 175px;font-family: Bebas Neue;color: #222;text-align: center;
}
.intro-titleSub p {
font-size: 30px;font-family: Anonymous Pro;color: #4f72ff;text-align: center;font-weight: bold;
}
.intro-img img {
width: 275px;
}
.intro-text {
width: 95%;margin: 0 auto;
}
.intro-text p {
font-family: sans-serif;font-size: 20px;
}
.intro-text p mark {
 background: #e4bbe4;
}
